<div class="py-6 lg:py-0">
  <div id="benefits-list" class="grid grid-cols-12 gap-4 pb-6 lg:pb-12 ">
    <a
      class="col-span-12 md:col-span-6 lg:col-span-4 bg-gradient-green h-full md:min-h-[20vh] md:h-fit rounded-lg text-light flex flex-col justify-end relative overflow-hidden hover:bg-gradient-green smooth group"
      href="/blog/nutrition"
    >
      <div class="relative w-full h-full flex flex-col gap-4 px-6 py-5 justify-end z-20">
        <img
          alt="Nutrition - Visual representation of the benefit"
          loading="lazy"
          width="56"
          height="56"
          decoding="async"
          data-nimg="1"
          class="z-50 relative"
          src="/_next/static/media/ic-benefits-nutrition.d4fae3d4.svg"
          style="color: transparent;"
        >
        <hr class="w-full z-50 relative">
        <div class="flex justify-between items-center z-50 relative">
          <h3>{{ 'benefits.nutrition' | t }}</h3>
          <h3>+</h3>
        </div>
      </div>
      <div class="absolute top-0 left-0 h-full w-full">
        <div class="bg-dark-green/30 w-full h-full absolute z-10"></div>
        <img
          alt="Nutrition - Background image depicting the theme of the benefit"
          loading="lazy"
          width="1920"
          height="1080"
          decoding="async"
          data-nimg="1"
          class="relative w-full h-full object-cover z-0"
          srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg1.78a9d127.png&amp;w=1920&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg1.78a9d127.png&amp;w=3840&amp;q=75 2x"
          src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg1.78a9d127.png&amp;w=3840&amp;q=75"
          style="color: transparent;"
        >
      </div></a
    ><a
      class="col-span-12 md:col-span-6 lg:col-span-4 bg-gradient-green h-full md:min-h-[20vh] md:h-fit rounded-lg text-light flex flex-col justify-end relative overflow-hidden hover:bg-gradient-green smooth group"
      href="/blog/antioxidant"
    >
      <div class="relative w-full h-full flex flex-col gap-4 px-6 py-5 justify-end z-20">
        <img
          alt="Antioxidant - Visual representation of the benefit"
          loading="lazy"
          width="56"
          height="56"
          decoding="async"
          data-nimg="1"
          class="z-50 relative"
          src="/_next/static/media/ic-benefits-nutrition.d4fae3d4.svg"
          style="color: transparent;"
        >
        <hr class="w-full z-50 relative">
        <div class="flex justify-between items-center z-50 relative">
          <h3>{{ 'benefits.antioxidant' | t }}</h3>
          <h3>+</h3>
        </div>
      </div>
      <div class="absolute top-0 left-0 h-full w-full">
        <div class="bg-dark-green/30 w-full h-full absolute z-10"></div>
        <img
          alt="Antioxidant - Background image depicting the theme of the benefit"
          loading="lazy"
          width="1920"
          height="1080"
          decoding="async"
          data-nimg="1"
          class="relative w-full h-full object-cover z-0"
          srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg2.a8e1b3b9.png&amp;w=1920&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg2.a8e1b3b9.png&amp;w=3840&amp;q=75 2x"
          src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg2.a8e1b3b9.png&amp;w=3840&amp;q=75"
          style="color: transparent;"
        >
      </div></a
    ><a
      class="col-span-12 md:col-span-6 lg:col-span-4 bg-gradient-green h-full md:min-h-[20vh] md:h-fit rounded-lg text-light flex flex-col justify-end relative overflow-hidden hover:bg-gradient-green smooth group"
      href="/blog/immunity"
    >
      <div class="relative w-full h-full flex flex-col gap-4 px-6 py-5 justify-end z-20">
        <img
          alt="Immunity - Visual representation of the benefit"
          loading="lazy"
          width="56"
          height="56"
          decoding="async"
          data-nimg="1"
          class="z-50 relative"
          src="/_next/static/media/ic-benefits-immunity.695bb735.svg"
          style="color: transparent;"
        >
        <hr class="w-full z-50 relative">
        <div class="flex justify-between items-center z-50 relative">
          <h3>{{ 'benefits.immunity' | t }}</h3>
          <h3>+</h3>
        </div>
      </div>
      <div class="absolute top-0 left-0 h-full w-full">
        <div class="bg-dark-green/30 w-full h-full absolute z-10"></div>
        <img
          alt="Immunity - Background image depicting the theme of the benefit"
          loading="lazy"
          width="1920"
          height="1080"
          decoding="async"
          data-nimg="1"
          class="relative w-full h-full object-cover z-0"
          srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg3.ee4d1eb5.png&amp;w=1920&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg3.ee4d1eb5.png&amp;w=3840&amp;q=75 2x"
          src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg3.ee4d1eb5.png&amp;w=3840&amp;q=75"
          style="color: transparent;"
        >
      </div></a
    ><a
      class="col-span-12 md:col-span-6 lg:col-span-4 bg-gradient-green h-full md:min-h-[20vh] md:h-fit rounded-lg text-light flex flex-col justify-end relative overflow-hidden hover:bg-gradient-green smooth group"
      href="/blog/detoxification"
    >
      <div class="relative w-full h-full flex flex-col gap-4 px-6 py-5 justify-end z-20">
        <img
          alt="Detoxification - Visual representation of the benefit"
          loading="lazy"
          width="56"
          height="56"
          decoding="async"
          data-nimg="1"
          class="z-50 relative"
          src="/_next/static/media/ic-benefits-detoxification.edeedb03.svg"
          style="color: transparent;"
        >
        <hr class="w-full z-50 relative">
        <div class="flex justify-between items-center z-50 relative">
          <h3>{{ 'benefits.detoxification' | t }}</h3>
          <h3>+</h3>
        </div>
      </div>
      <div class="absolute top-0 left-0 h-full w-full">
        <div class="bg-dark-green/30 w-full h-full absolute z-10"></div>
        <img
          alt="Detoxification - Background image depicting the theme of the benefit"
          loading="lazy"
          width="1920"
          height="1080"
          decoding="async"
          data-nimg="1"
          class="relative w-full h-full object-cover z-0"
          srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg4.3076b3e0.png&amp;w=1920&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg4.3076b3e0.png&amp;w=3840&amp;q=75 2x"
          src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg4.3076b3e0.png&amp;w=3840&amp;q=75"
          style="color: transparent;"
        >
      </div></a
    ><a
      class="col-span-12 md:col-span-6 lg:col-span-4 bg-gradient-green h-full md:min-h-[20vh] md:h-fit rounded-lg text-light flex flex-col justify-end relative overflow-hidden hover:bg-gradient-green smooth group"
      href="/blog/anti-diabetic"
    >
      <div class="relative w-full h-full flex flex-col gap-4 px-6 py-5 justify-end z-20">
        <img
          alt="Anti-Diabetic - Visual representation of the benefit"
          loading="lazy"
          width="56"
          height="56"
          decoding="async"
          data-nimg="1"
          class="z-50 relative"
          src="/_next/static/media/ic-benefits-diabetic.4508476d.svg"
          style="color: transparent;"
        >
        <hr class="w-full z-50 relative">
        <div class="flex justify-between items-center z-50 relative">
          <h3>Anti-Diabetic</h3>
          <h3>+</h3>
        </div>
      </div>
      <div class="absolute top-0 left-0 h-full w-full">
        <div class="bg-dark-green/30 w-full h-full absolute z-10"></div>
        <img
          alt="Anti-Diabetic - Background image depicting the theme of the benefit"
          loading="lazy"
          width="1920"
          height="1080"
          decoding="async"
          data-nimg="1"
          class="relative w-full h-full object-cover z-0"
          srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg5.6bf2d72a.png&amp;w=1920&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg5.6bf2d72a.png&amp;w=3840&amp;q=75 2x"
          src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg5.6bf2d72a.png&amp;w=3840&amp;q=75"
          style="color: transparent;"
        >
      </div></a
    ><a
      class="col-span-12 md:col-span-6 lg:col-span-4 bg-gradient-green h-full md:min-h-[20vh] md:h-fit rounded-lg text-light flex flex-col justify-end relative overflow-hidden hover:bg-gradient-green smooth group"
      href="/blog/anti-asthmatic"
    >
      <div class="relative w-full h-full flex flex-col gap-4 px-6 py-5 justify-end z-20">
        <img
          alt="Anti-Asthmatic - Visual representation of the benefit"
          loading="lazy"
          width="56"
          height="56"
          decoding="async"
          data-nimg="1"
          class="z-50 relative"
          src="/_next/static/media/ic-benefits-asthmatic.2ac04e51.svg"
          style="color: transparent;"
        >
        <hr class="w-full z-50 relative">
        <div class="flex justify-between items-center z-50 relative">
          <h3>Anti-Asthmatic</h3>
          <h3>+</h3>
        </div>
      </div>
      <div class="absolute top-0 left-0 h-full w-full">
        <div class="bg-dark-green/30 w-full h-full absolute z-10"></div>
        <img
          alt="Anti-Asthmatic - Background image depicting the theme of the benefit"
          loading="lazy"
          width="1920"
          height="1080"
          decoding="async"
          data-nimg="1"
          class="relative w-full h-full object-cover z-0"
          srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg6.bed60f3a.png&amp;w=1920&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg6.bed60f3a.png&amp;w=3840&amp;q=75 2x"
          src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg6.bed60f3a.png&amp;w=3840&amp;q=75"
          style="color: transparent;"
        >
      </div></a
    ><a
      class="col-span-12 md:col-span-6 lg:col-span-4 bg-gradient-green h-full md:min-h-[20vh] md:h-fit rounded-lg text-light flex flex-col justify-end relative overflow-hidden hover:bg-gradient-green smooth group"
      href="/blog/anti-hypertensive"
    >
      <div class="relative w-full h-full flex flex-col gap-4 px-6 py-5 justify-end z-20">
        <img
          alt="Anti-Hypertensive - Visual representation of the benefit"
          loading="lazy"
          width="56"
          height="56"
          decoding="async"
          data-nimg="1"
          class="z-50 relative"
          src="/_next/static/media/ic-benefits-hypertensive.aa49853a.svg"
          style="color: transparent;"
        >
        <hr class="w-full z-50 relative">
        <div class="flex justify-between items-center z-50 relative">
          <h3>Anti-Hypertensive</h3>
          <h3>+</h3>
        </div>
      </div>
      <div class="absolute top-0 left-0 h-full w-full">
        <div class="bg-dark-green/30 w-full h-full absolute z-10"></div>
        <img
          alt="Anti-Hypertensive - Background image depicting the theme of the benefit"
          loading="lazy"
          width="1920"
          height="1080"
          decoding="async"
          data-nimg="1"
          class="relative w-full h-full object-cover z-0"
          srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg7.7ed8c0d6.png&amp;w=1920&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg7.7ed8c0d6.png&amp;w=3840&amp;q=75 2x"
          src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg7.7ed8c0d6.png&amp;w=3840&amp;q=75"
          style="color: transparent;"
        >
      </div></a
    ><a
      class="col-span-12 md:col-span-6 lg:col-span-4 bg-gradient-green h-full md:min-h-[20vh] md:h-fit rounded-lg text-light flex flex-col justify-end relative overflow-hidden hover:bg-gradient-green smooth group"
      href="/blog/regeneration"
    >
      <div class="relative w-full h-full flex flex-col gap-4 px-6 py-5 justify-end z-20">
        <img
          alt="Regeneration - Visual representation of the benefit"
          loading="lazy"
          width="56"
          height="56"
          decoding="async"
          data-nimg="1"
          class="z-50 relative"
          src="/_next/static/media/ic-benefits-regeneration.04140c23.svg"
          style="color: transparent;"
        >
        <hr class="w-full z-50 relative">
        <div class="flex justify-between items-center z-50 relative">
          <h3>{{ 'benefits.regeneration' | t }}</h3>
          <h3>+</h3>
        </div>
      </div>
      <div class="absolute top-0 left-0 h-full w-full">
        <div class="bg-dark-green/30 w-full h-full absolute z-10"></div>
        <img
          alt="Regeneration - Background image depicting the theme of the benefit"
          loading="lazy"
          width="1920"
          height="1080"
          decoding="async"
          data-nimg="1"
          class="relative w-full h-full object-cover z-0"
          srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg8.3ceff62d.png&amp;w=1920&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg8.3ceff62d.png&amp;w=3840&amp;q=75 2x"
          src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FBenefitsImg8.3ceff62d.png&amp;w=3840&amp;q=75"
          style="color: transparent;"
        >
      </div>
    </a>
  </div>
</div>
{% schema %}
{
  "name": "Card grid",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Columns box content"
    }
  ]
}
{% endschema %}
