<div
  class="hero-slider swiper-wrapper"
>
  {% comment %} --- LOGIC: Handle Alt Text based on Language --- {% endcomment %}
    {% assign current_alt_text = block.settings.alt_text_en %}

    {% comment %} Check if the current store language is Indonesian (id) {% endcomment %}
    {% if request.locale.iso_code == 'id' %}
      {% if block.settings.alt_text_id != blank %}
        {% assign current_alt_text = block.settings.alt_text_id %}
      {% endif %}
    {% endif %}
    {% comment %} ------------------------------------------------ {% endcomment %}
  {% for block in section.blocks %}
    {% assign product = block.settings.product %}
    <div
      class="banner swiper-slide slider-type-{{ block.type }}"
      data-href="{{product.url }}"
      data-swiper-autoplay="{{section.settings.interval }}"
    >
      <img
        class="background background-{{ block.id }} desktop"
        width="auto"
        height="auto"
        decoding="async"
        src="{{ block.settings.banner | image_url }}"
        alt="{{ current_alt_text | escape }}"
      >
      {% assign mobile_banner = block.settings.banner_mobile | default: block.settings.banner %}
      <img
        class="background mobile"
        width="auto"
        height="auto"
        decoding="async"
        src="{{ mobile_banner | image_url }}"
        alt="{{ current_alt_text | escape }}"
      >
      <div class="main-grid">
        <div class="content {{ block.type }}">
          {% if block.type == 'image_picker' %}
            {% render 'HeroBannerSliderType1', block: block, product: product %}
          {% elsif block.type == 'image_type_2' %}
            {% render 'HeroBannerSliderType2', block: block %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="swiper-pagination"></div>

{% schema %}
{
  "name": "Hero Banner",
  "tag": "section",
  "class": "section jumbo-slider swiper",
  "settings": [
    {
      "type": "number",
      "id": "interval",
      "label": "Slider interval",
      "info": "Interval is in millisecond",
      "default": 6000
    }
  ],
  "blocks": [
    {
      "limit": 5,
      "type": "image_picker",
      "name": "Banner",
      "settings": [
        {
          "type": "text",
          "id": "title_one",
          "default": "Premium Organic",
          "label": "Title one"
        },
        {
          "type": "text",
          "id": "title_two",
          "default": "Moringa Oleifera",
          "label": "Title one"
        },

        {
          "id": "content",
          "type": "textarea",
          "label": "Content"
        },

        {
          "id": "product",
          "type": "product",
          "label": "Link to product"
        },

        {
          "type": "header",
          "content": "Banner"
        },

        {
          "type": "image_picker",
          "id": "banner",
          "label": "Background"
        },

        {
          "type": "image_picker",
          "id": "banner_mobile",
          "label": "Background mobile"
        },
        {
            "type": "text",
            "id": "alt_text_en",
            "label": "Alt Text (English)",
            "info": "Describe the image for English users."
          }, {
            "type": "text",
            "id": "alt_text_id",
            "label": "Alt Text (Bahasa Indonesia)",
            "info": "Describe the image for Indonesian users."
          }
      ]
    },

    {
      "limit": 5,
      "type": "image_type_2",
      "name": "Banner Type 2",
      "settings": [
        {
          "type": "textarea",
          "id": "title_one",
          "default": "Premium Organic",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "bagde",
          "label": "Badge icon"
        },

        {
          "type": "textarea",
          "id": "bagde_desc",
          "default": "No extracts. No fillers. Just 100% real moringa leaves, stem-free and nothing else.",
          "label": "Badge description"
        },

        {
          "id": "content",
          "type": "textarea",
          "label": "Footer content"
        },

        {
          "id": "content_mobile",
          "type": "textarea",
          "label": "Footer content mobile"
        },
        {
          "type": "header",
          "content": "Banner"
        },

        {
          "type": "image_picker",
          "id": "banner",
          "label": "Background"
        },

        {
          "type": "image_picker",
          "id": "banner_mobile",
          "label": "Background mobile"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Heroo Slider"
    }
  ]
}
{% endschema %}
