<div class="main-grid">
  <div class="graphic">
    <div class="main-circle desktop">
      <img src="{{ section.settings.main_graphic | image_url }}">
    </div>
    <div class="mobile-card mobile">
      <div class="item">
        <img src="{{ section.settings.main_graphic | image_url }}">
      </div>
      {% for block in section.blocks %}
        <div class="item">
          <div class="sub-head">
            <div class="title">
              {{ block.settings.title }}
            </div>
          </div>
          <div class="body-s">
            {{ block.settings.description }}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="mobile navigation">
      <div class="dot"></div>
      {% for block in section.blocks %}
        <div class="dot"></div>
      {% endfor %}
    </div>
  </div>
  <div class="content">
    <h2 class="h1">
      {{ section.settings.title | newline_to_br }}
    </h2>
    <div class="block-content desktop">
      {% for block in section.blocks %}
        <div class="item">
          <div class="sub-head title">
            {{ block.settings.title }}
          </div>
          <div class="body-s">
            {{ block.settings.description }}
          </div>
        </div>
      {% endfor %}
    </div>
    {% render 'PrimaryButton',
      url: section.settings.button_url,
      title: section.settings.button_title,
      type: 'transparent'
    %}
  </div>
</div>

{% schema %}
{
  "name": "Virtual Content",
  "tag": "section",
  "class": "section virtual-content",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "button_title",
      "label": "Button title"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    },

    {
      "type": "image_picker",
      "id": "main_graphic",
      "label": "Artwork"
    }
  ],

  "blocks": [
    {
      "type": "text",
      "name": "Content",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },

        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Virtual Content"
    }
  ]
}
{% endschema %}
